<html>

<head>
    {{template "static" .}}

    <title>{{jf "搜佛说APP下载" .Ift}}--{{jf "搜佛说" .Ift}}</title>
</head>

<body>

    <div id="home" style="max-width: 1024px; margin-right: auto; margin-left: auto;">
        {{template "header" .}}
        <div class="card">
            <!-- Default panel contents -->
            <div class="card-footer">
                <h1>
                    {{jf "搜佛说APP下载" .Ift}}
                </h1>
            </div>
            <div class="card-footer">
                <b>
                    {{jf "大藏经搜索引擎，佛经专用搜索引擎。学习、深入经藏必备工具" .Ift}} 。
                </b>
            </div>

            <div class="card-footer">
                【{{jf "安卓版下载" .Ift}}】：
                <a href="https://pan.baidu.com/s/19Mx1XBOhxfK4s19vSM59Gw" target="_blank">
                    {{jf "百度网盘" .Ift}}
                </a>(soufoshuo.apk) {{jf "提取码" .Ift}} : cfrn
            </div>

            <div class="card-footer">
                【 {{jf "苹果版下载" .Ift}}】：
                <a href="https://pan.baidu.com/s/1RUb_JoCERrLDTM_ppzqdHg" target="_blank">
                    {{jf "百度网盘" .Ift}}
                </a>(soufoshuo.ipa) {{jf "提取码" .Ift}} : hpst
            </div>


        </div>

        <div class="card">
            <!-- Default panel contents -->
            <div class="card-footer">
                <h2>
                    {{jf "网书--乾隆大藏经下载" .Ift}}
                </h2>
            </div>
            <div class="card-footer">
                <b><a href="http://webbook.soufoshuo.com/03-%e4%b8%8b%e8%bd%bd%e3%80%81%e4%bd%bf%e7%94%a8%28%e6%b0%b8%e4%b9%85%e5%85%8d%e8%b4%b9%29.txt"><b>网书--乾隆大藏经下载</b></a>
            </b>
                    {{jf "-- 阅读、整理、补缺、搭建网站,进入百度网盘--电子书分享，下载" .Ift}} 。
                

            </div>
        </div>
        {{template "footer" .}}
</body>

</html>